@charset "utf-8";
/**
*
*
*
*/

a:link,a:visited,a:hover,a:active{text-decoration:none;}
#main{width:100%;overflow:hidden;}
/*顶部导航条样式*/
.navbar{background:rgba(0,0,0,0.5);}
/**
*九宫格样式
*Daliu
*height:415px;width:415px;margin-top:10px;margin-left:10px;
*/
.graid{text-align:center;height:298px;width:298px;position:absolute;left:100px;top:10%;box-shadow:-45px 45px 15px 15px rgba(0,0,0,0.5);}
.graid-default{}
.graid-primary{}
.graid-success{}
.graid-info{}
.graid-warning{}
.graid-danger{}
.graid-each{
	display:inline-block;width:68px;height:68px;overflow:hidden;background:rgba(0,0,0,0.5);/*background:-moz-linear-gradient(top,white,gray);*/
	margin:1px 3px ;padding:0;
	font-family:微软雅黑;
	border-radius: 3px;
	-webkit-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;
	text-align:center;
}
.graid-each-hover{
	border-color: #00CEF3;
	box-shadow:0 0 1px 2px #00CEF3;
}

.graid-each > img,
.graid-each a > img {
  margin-right: auto;
  margin-left: auto;
}
a.graid-each:hover,
a.graid-each:focus,
a.graid-each.active {
  border-color: #00CEF3;
  box-shadow:0 0 1px 2px #00CEF3;
}
a.graid-each:active {
  border-color: #5bc0de;
  box-shadow:0 0 1px 2px #5bc0de inset;
}
a.graid-each:active >.caption{color:#5bc0de;}
.graid-each .caption {
  padding: 0;
  color: white;
  line-height:68px;
}
/*高亮状态*/
.graid-each-hover > .caption{color:#00CEF3;}
.graid-each .caption:hover{color:#00CEF3;}
/**
*window窗口样式
*Daliu
*
*/
#win-share{display:none;}
#win-11{position:absolute;top:140px;left:0;}
#win-setting{position:absolute;top:190px;left:30px;}
#win-setting  .win-nav{width:110px;height:334px;background:#DCDCDC;position:absolute;top:1px;left:0;list-style:none;margin:0;padding:0;overflow:hidden;}
#win-setting  .win-nav > li{height:40px;line-height:40px;width:110px;display:block;}
#win-setting  .win-nav > li:hover{background:#00CEF3;cursor:pointer;color:white;}
#win-setting  .win-nav > li:active{color:red;box-shadow:0 0 2px 1px black inset;}
#win-setting  .win-content{overflow:hidden;}
#win-setting  .win-part{width:350px;height:334px;background:#E5E5E5;position:absolute;top:1px;left:110px;padding-right:25px;}
.win-part li{list-style:none;display:inline-block;width:64px;height:64px;line-height:64px;border:solid 1px white;margin:2px;}
.win-part li:hover{cursor:move;border-color: #00CEF3;box-shadow:0 0 1px 1px #00CEF3;color:#00CEF3;}
.win-part li:active{box-shadow:0 0 1px 1px gray inset;color:red;}
#win-setting  .win-detail{width:218px;height:334px;text-align:left;background:#EEEEEE;position:absolute;top:1px;left:460px;display:none;}
.win-detail tr{padding-left:4px;margin:4px;display:block;}
@media(min-width:768px){
	.win{width:683px;height:400px;margin-left:35%;display:none;position:absolute;top:140px;left:0;}
}
.win-default{border:solid 1px #DCDCDC;border-radius:3px;background:#EEEEEE;box-shadow:2px 2px 18px 1px #EEEEEE;}
.win-primary{}
.win-success{}
.win-info{border-radius:3px;background:#00CEF3;}
.win-warning{}
.win-danger{}

.win-header{height:48px;margin:0;padding:0;}
.win-header:hover{cursor:move;}

.win-sign{margin:0;padding:0;}
.title{font-weight:bold;display:inline-block;position:absolute;left:8px;top:2px;}
.change-size{height:8px;margin:0;padding:0;display:inline-block;position:absolute;top:0;right:0;}
.change-size .smalls,.change-size .big,.change-size .closes{height:18px;width:20px;text-align:center;margin:0;padding:0;display:inline-block;}
.change-size .smalls:hover,.change-size .big:hover{background:#02B2D9;color:white;cursor:pointer;}
.change-size .closes:hover{background:red;color:white;cursor:pointer;border-radius:0 3px 0 0;}

.win-tools{background:#E5E5E5;width:678px;height:28px;position:absolute;top:27px;left:2px;}
.win-toolbars{position:absolute;top:2px;right:3px;}
.win-search{width:322px;position:absolute;top:2px;left:3px;}
.win-content{overflow-y:scroll;background:white;width:678px;height:335px;text-align:center;position:absolute;top:54px;left:3px;padding-top:8px;}
.win-list{text-align:left;float:left;padding-left:4px;overflow:hidden;width:160px;height:40px;line-height:40px;background:none;transition:background .2s ease-in-out;-moz-transition:background .2s ease-in-out;-webkit-transition:background .2s ease-in-out;color:gray;display:inline-block;}
.win-list:hover{background:rgba(0,0,0,0.1);color:red;}
.win-footer{}


/**
*搜索框xs样式
*Daliu
*
*/
.input-group-xs > .form-control,
.input-group-xs > .input-group-addon,
.input-group-xs > .input-group-btn > .btn {
  height: 22px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1;
  border-radius: 3px;
}
select.input-group-xs > .form-control,
select.input-group-xs > .input-group-addon,
select.input-group-xs > .input-group-btn > .btn {
  height: 12px;
  line-height: 12px;
}
/*修正窗口搜索框z-index值*/
.input-group .form-control {
  z-index: inherit;
}
.input-group-btn > .btn:hover,
.input-group-btn > .btn:focus,
.input-group-btn > .btn:active {
  z-index: inherit;
}
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  z-index: inherit;
}
/**
*百度搜索框
*Daliu
*
*/
.baidu-search{position:absolute;left:580px;top:40%;width:480px;height:32px;border:solid 1px white;border-radius:3px;}
.baidu-search > input{width:424px;height:100%;border:none;background:none;display:inline-block;padding-left:4px;}
.baidu-search > input:focus{background:-moz-linear-gradient(top,rgba(20,20,20,0.1),rgba(0,0,0,0.1));color:white;}
.baidu-search>button{width:54px;height:100%;display:inline-block;background:none;border:none;color:white;}
.baidu-search>button:hover{border-left:solid 1px white;color:#00CEF3;background:-moz-linear-gradient(top,rgba(20,20,20,0.1),rgba(0,0,0,0.1));}
.baidu-search>button:focus{box-shadow:0 -1px 2px 1px black inset;}

/*消息提示*/
#messageinfo{display:none;z-index:12;background:rgba(0,0,0,0.5);border-radius:3px;margin:10px;color:white;font-size:24px;position:fixed;left:50%;top:30%;}

/*帮助页面*/
.help-content{color:white;}
